<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout1.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/board/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
<div layout:fragment="content">

    <img src="/assets/board/cloudicon.svg" alt="" class="cloud1">
    <img src="/assets/board/cloudicon2.svg" alt="" class="cloud2">
    <img src="/assets/board/cloudicon3.svg" alt="" class="cloud3">
    <img src="/assets/board/cloudicon4.svg" alt="" class="cloud4">
    <img src="/assets/board/cloudicon5.svg" alt="" class="cloud5">
    <img src="/assets/board/treeicon.svg" alt="" class="tree1">
    <img src="/assets/board/treeicon.svg" alt="" class="tree2">
    <img src="/assets/board/treeicon.svg" alt="" class="tree3">
    <img src="/assets/board/treeicon.svg" alt="" class="tree4">
    <img src="/assets/board/treeicon.svg" alt="" class="tree5">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 class="viewAll">전체글보기</h1>
    <br>


    <div class = "half-background">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
<!--                    <div class="input-register mb-3">-->
<!--                        <input type="text" class="form-control" th:value="${dto.boardId}" readonly>-->
<!--                    </div>-->

                    <div class="input-register mb-3">
                        <input type="text" class="form-control" th:value="${dto.nickname}" readonly>
                    </div>


<!--                    <div class="input-register mb-3">-->
<!--                        <span class="input-group-text">작성일</span>-->
<!--                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy.MM.dd HH:mm:ss')}" readonly>-->
<!--                    </div>-->
                    <div class="input-register mb-3">
                        <span class="input-group-text">작성일</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy.MM.dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="input-register mb-3">
                        <input type="text" class="form-control" th:value="${dto.title}" readonly>
                    </div>

                    <div class="input-register mb-3">
                        <textarea class="form-control" rows="20" readonly>[[${dto.content}]]</textarea>
                    </div>




                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                            <a th:if="${loginMemberId == dto.memberId}" th:href="|@{/board/modify(boardId=${dto.boardId})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">수정하기</button>
                            </a>
                            <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">목록으로</button>
                            </a>
                        </div>


                </div><!--end card body-->

                <div class="col">
                    <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                        <img class="card-img-top"
                             th:each="fileName: ${dto.fileNames}"
                             th:src="|/view/${fileName}|">
                    </div>

                </div><!--end card-->
            </div><!-- end col-->
        </div><!-- end row-->

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="my-4 ">
                    <button class="btn btn-info  addReplyBtn">댓글추가</button>
                </div>
                <ul class="list-group replyList">
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <ul class="pagination replyPaging">
                </ul>
            </div>
        </div>


        <div class="modal registerModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">댓글등록하기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group-add mb-3">
                            <span class="input-group-text">content</span>
                            <input type="text" class="form-control content" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary replyBtn">댓글쓰기</button>
                        <button type="button" class="btn btn-outline-dark closeRegisterBtn" >취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end regist modal -->

        <div class="modal modifyModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title replyHeader"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group-add mb-3">
                            <span class="input-group-text">댓글수정</span>
                            <input type="text" class="form-control modifyText" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info modifyBtn">수정하기</button>
<!--                        <button type="button" class="btn btn-danger removeBtn">댓글삭제</button>-->
                        <button type="button" class="btn btn-outline-dark closeModifyBtn">Close</button>
                    </div>
                </div>
            </div>
        </div> <!--modifyModal -->


        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script src="/js/board/reply.js"></script>

        <img src="/assets/board/banner.svg" alt="" class="banner">
    </div>
</div><!-- layout fragment end -->
    <footer>
        <section class="footer_content">
            <ul class="footer_text">
                <li class="logo_text">FETMILY</li>
                <li class="footer_tap"><span>&nbsp; |&nbsp; 개인정보처리방침 &nbsp;| &nbsp;이용약관</span></li>

            </ul>
            <div class="footer_tap">
                <span>(주)펫밀리 | 대표자: 정용안 | 사업자번호: 000-11-001100 사업자 정보 확인</span>
                <span>통신판매업: 2023-서울강남B-1111 | 개인정보보호책임자: 정용안 | 이메일: info@fetmily.com</span>
                <span>전화번호: 070-0000-1111 | 주소: 서울 강남구 강남대로94길 20, 삼오빌딩 5층</span>
                <span>©FETMILY. ALL RIGHTS RESERVED</span>
            </div>

        </section>


    </footer>
</div>



</body>
<script layout:fragment="script" th:inline="javascript">
    const boardId = [[${dto.boardId}]];
    const loginMemberId = /*[[${loginMemberId}]]*/ ''; // 현재 로그인된 사용자 ID

    const replyList = document.querySelector('.replyList'); // 댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging'); // 페이지 목록 DOM

    function printList(dtoList) { // 댓글 목록 출력
        let str = '';

        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) {
                str += `<li class="list-group-item d-flex replyItem">
                          <span class="col-2">${dto.nickname}</span>
                          <span class="col-6" data-replyId="${dto.replyId}" data-memberId="${dto.memberId}">${dto.content}</span>
                          <span class="col-2">${dto.regDate}</span>`;
                if (dto.memberId === loginMemberId) {
                    str += `<span class="col-2">
                              <button type="button" class="btn btn-info modifyBtn" data-replyId="${dto.replyId}">수정</button>
                              <button type="button" class="btn btn-danger removeBtn" data-replyId="${dto.replyId}">삭제</button>
                            </span>`;
                }
                str += `</li>`;
            }
        }
        replyList.innerHTML = str;
    }

    function printPages(data) { // 페이지 목록 출력
        let pageStr = '';

        if (data.prev) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`;
        }

        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i == data.page ? "active" : ""} "><a class="page-link" data-page="${i}">${i}</a></li>`;
        }

        if (data.next) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`;
        }
        replyPaging.innerHTML = pageStr;
    }

    function printReplies(page, size, goLast) {
        getList({ boardId, page, size, goLast }).then(
            data => {
                printList(data.dtoList); // 목록 처리
                printPages(data); // 페이지 처리
            }
        ).catch(e => {
            console.error(e);
        });
    }

    printReplies(1, 10, true);

    // 댓글 등록 모달
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"));
    const replyBtn = document.querySelector(".replyBtn");
    const content = document.querySelector(".content");
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn");

    document.querySelector(".addReplyBtn").addEventListener("click", function (e) {
        registerModal.show();
    }, false);

    closeRegisterBtn.addEventListener("click", function (e) {
        registerModal.hide();
    }, false);

    replyBtn.addEventListener("click", function (e) {
        const replyObj = {
            boardId: boardId,
            content: content.value
        };

        addReply(replyObj).then(result => {
            alert('댓글이 등록되었습니다.');
            registerModal.hide();
            content.value = '';

            printReplies(1, 10, true); // 댓글 목록 갱신
        }).catch(e => {
            alert("로그인 후에 이용가능합니다.");
            registerModal.hide();
            printReplies(1, 10, true); // 댓글 목록 갱신
        });
    }, false);

    let page = 1;
    let size = 10;

    replyPaging.addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if (!target || target.tagName != 'A') {
            return;
        }

        const pageNum = target.getAttribute("data-page");
        page = pageNum;
        printReplies(page, size);

    }, false);

    // 댓글 수정/삭제 모달
    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"));
    const replyHeader = document.querySelector(".replyHeader");
    const modifyText = document.querySelector(".modifyText");
    const modifyBtn = document.querySelector(".modifyBtn");
    const removeBtn = document.querySelector(".removeBtn");
    const closeModifyBtn = document.querySelector(".closeModifyBtn");

    replyList.addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if (target.tagName === 'BUTTON' && target.classList.contains('modifyBtn')) {
            const replyId = target.getAttribute("data-replyId");
            getReply(replyId).then(reply => {
                replyHeader.innerHTML = reply.replyId;
                modifyText.value = reply.content;
                modifyModal.show();
            }).catch(e => alert('error'));
        }

        if (target.tagName === 'BUTTON' && target.classList.contains('removeBtn')) {
            const replyId = target.getAttribute("data-replyId");
            if (confirm('댓글을 삭제하시겠습니까?')) {
                removeReply(replyId).then(result => {
                    alert('댓글이 삭제되었습니다.');
                    modifyModal.hide();
                    page = 1; // 이 부분이 없다면 원래 페이지로
                    printReplies(page, size);
                }).catch(e => {
                    console.log(e);
                });
            }
        }
    }, false);

    modifyBtn.addEventListener("click", function (e) {
        const replyObj = {
            boardId: boardId,
            replyId: replyHeader.innerHTML,
            content: modifyText.value
        };

        modifyReply(replyObj).then(result => {
            alert('댓글이 수정되었습니다.');
            modifyModal.hide();
            printReplies(page, size);
        }).catch(e => {
            console.log(e);
        });
    }, false);

    closeModifyBtn.addEventListener("click", function (e) {
        modifyModal.hide();
    }, false);

    // replyHeader를 숨기는 함수
    function hideReplyHeader() {
        const replyHeader = document.querySelector('.replyHeader'); // replyHeader 요소 선택
        if (replyHeader) {
            replyHeader.style.display = 'none'; // display 속성을 none으로 설정하여 숨김
        }
    }

    // 페이지 로드 시 replyHeader 숨기기
    window.addEventListener('DOMContentLoaded', function () {
        hideReplyHeader();
    });
</script>

