<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/login.css">
    <link rel="stylesheet" href="/css/member/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
<div class="modal">
    <div class="modal_body">
        <div class="modal_title"><h2>회원가입</h2><img src="/assets/member/modalDelete.svg" class="modal_delete"></div>
        <div class="modal_input">
            <input type="text" placeholder="닉네임" class="nickname">
            <input type="text" placeholder="이메일" class="email">
            <input type="text" placeholder="비밀번호" class="password">
            <input type="text" placeholder="비밀번호 확인" class="password_check">
        </div>
        <div class="modal_checkbox">
            <span class="all_check"><img src="/assets/member/bigCheck.svg">&nbsp모두 동의합니다</span>
            <hr>
            <div class="check_set">
                <span class="check check1"><img src="/assets/member/smallCheck.svg">&nbsp만 14세 이상입니다.(필수)</span>
                <span class="check check2"><img src="/assets/member/smallCheck.svg">&nbsp이용약관(필수)</span>
                <span class="check check3"><img src="/assets/member/smallCheck.svg">&nbsp개인정보수집 및 이용동의(필수)</span>
            </div>
        </div>
        <button class="signup_btn">회원가입 완료</button>
    </div>
</div>
<div class="container">
    <img src="/assets/member/bg_right.svg" alt="" class="bg_right">
    <img src="/assets/member/bg_left.svg" alt="" class="bg_left">
    <img src="/assets/member/bg_line.svg" alt="" class="bg_line">

    <div class="login_form_bg_blur"></div>
    <div class="login_form_bg1"></div>
    <div class="login_form_bg2"></div>
    <div class="login_form_bg3"></div>

    <div class="login_form">
        <div class="title">
            <div class="main_title"><img src="/assets/member/loginTitle.svg">FETMILY</div>
            <div class="sub_title">반려동물과 함께하는 즐거운 생활</div>
        </div>
        <div class="login_input">
            <div><img src="/assets/member/login_email.svg"><input type="text" class="login_email" placeholder="아이디 / 이메일"></div>
            <div><img src="/assets/member/login_pw.svg"><input type="password" class="login_password" placeholder="비밀번호"></div>
        </div>

        <button type="submit" class="login_btn">로그인</button>
        <div class="login_footer"><span class="btn-open-modal">회원가입</span>&nbsp;&nbsp;&nbsp;<span class="search_id">ID/PW 찾기</span></div>
    </div>
</div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/member/member.js"></script>
</div>

</body>
</html>