.container{
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body{
  display: flex;
}

.header{
  font-size: 26px;
  font-weight: bold;
  padding: 50px 0;
}

.nav{
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}

.nav_title{
  font-weight: 700;
  border-bottom: 1px solid lightgray;
  width: 80%;
  padding: 10px 0;
  margin: 10px 0;
}

.nav > ul{
  list-style-type: none;
  margin-left:20px;
  padding: 10px 0;
}

.nav > ul > li{
  padding: 5px 0;
  margin-left: 10px;
}

.nav > ul > li:hover{
  cursor: pointer;
}

.content{
  display: flex;
  flex-direction: column;
  margin: 46px 0;
  font-weight: bold;
}

.content_title{
  margin-bottom: 20px;
}

.delivery > *{
  padding: 10px;
  box-shadow: 1px 1px 2px #999 inset;
  border: none;
  margin: 5px 1px;
  border-radius: 4px;
}

.delivery > .btn{
  box-shadow: 1px 1px 2px #999;
}

.delivery > * :focus{
  outline-style: none;
}

.pet_regist_form{
  display: flex;
  flex-direction: column;
}

.label{
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

.pet_regist_form > input[type=text]{
  margin-bottom: 20px;
  height: 36px;
  font-size: 18px;
  text-indent: 10px;
  margin-top: 5px;
}

.pet_regist_form > input[type=date]{
  height: 24px;
  border-radius: 50px;
  text-indent: 10px;
  margin-bottom: 20px;
}

.pet_regist_form > input[type=checkbox]{
  margin-bottom: 20px;
}

.pet_regist_form > textarea{
  margin-top: 5px;
}