<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/mypage/mypage.css">
  <link rel="stylesheet" href="/css/mypage/post/list.css">
  <title>Title</title>
</head>
<body layout:fragment="content">
<div class="container">
  <div class="header">마이페이지</div>
  <div class="body">
    <div class="nav">
      <ul>
        <div class="nav_title">내 정보</div>
        <a href="/mypage/member/info"><li>내 정보</li></a>
        <a href="/mypage/member/update"><li>내 정보 수정</li></a>
        <a href="/mypage/member/delete"><li>회원 탈퇴</li></a>
      </ul>
      <ul>
        <div class="nav_title">쇼핑</div>
        <a href="/mypage/buy/list"><li>주문내역</li></a>
        <a href="/mypage/buy/addr"><li>배송지 관리</li></a>
        <a href="/mypage/buy/like"><li>좋아요 누른 상품</li></a>
        <a href="/mypage/buy/service"><li>고객센터</li></a>
      </ul>
      <ul>
        <div class="nav_title">커뮤니티</div>
        <a href="/mypage/post/mypost"><li>내가 쓴 게시글</li></a>
        <a href="/mypage/post/myreview"><li>댓글 단 게시글</li></a>
        <a href="/mypage/post/like"><li>좋아요 누른 게시글</li></a>
      </ul>
      <ul>
        <div class="nav_title">동물</div>
        <a href="/pet/list"><li>내 반려동물</li></a>
        <a href="/pet/support"><li>후원중인 동물</li></a>
      </ul>
    </div>
    <div class="content">
      <span class="content_title">내가 쓴 게시글</span>
      <div class="content_body">
        <div class="my_post">



          <div class="row mt-3" style="display:none">
            <form action="/mypage/post/mypost" method="get">
              <div class="col" >
                <h1 class="viewAll">전체글보기</h1>
                <div class="input-group">
                  <div>
                    <button class="btn btn-outline-secondary registerBtn" type="button" th:onclick="'javascript:window.location.href = \'/board/register\''">글쓰기</button>
                  </div>
                  <div class="input-group-prepend">
                    <select class="form-select" name="type">

                    </select>
                  </div>
                  <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                  </div>
                </div>
              </div>
            </form>
          </div>



            <div class="row mt-3">
              <div class="col">
                <div class="card">
                  <div class="card-body" >
                    <table class="table">
                      <tbody th:with="link = ${pageRequestDTO.getLink()}">
                      <tr th:each="dto:${responseDTO.dtoList}">
                        <td>[[${dto.boardId}]]</td>
                        <td>
                          <a th:href="|@{/board/read(boardId =${dto.boardId})}&${link}|" class="text-decoration-none"> [[${dto.title}]] </a>
                          <span>[ [[${dto.replyCount}]] ]</span>
                        </td>
                        <td>[[${dto.nickname}]]</td>
                        <td>[[${#temporals.format(dto.regDate, 'yyyy.MM.dd')}]]</td>
                      </tr>

                      </tbody>


                    </table>

                    <div class="float-none">
                      <ul class="pagination flex-wrap">

                        <li class="page-item" th:if="${responseDTO.prev}">
                          <a class="page-link" th:data-num="${responseDTO.start -1}">< 이전</a>
                        </li>

                        <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                          <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
                            <a class="page-link"  th:data-num="${i}">[[${i}]]</a>
                          </li>
                        </th:block>

                        <li class="page-item" th:if="${responseDTO.next}">
                          <a class="page-link"  th:data-num="${responseDTO.end + 1}">다음 ></a>
                        </li>
                      </ul>
                    </div>
                  </div><!--end card body-->
                </div><!--end card-->
              </div><!-- end col-->
            </div><!-- end row-->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/member/mypage.js"></script>
</body>

<script layout:fragment="script" th:inline="javascript">

  document.querySelector(".pagination").addEventListener("click", function (e) {
    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if(target.tagName !== 'A') {
      return
    }

    const num = target.getAttribute("data-num")

    const formObj = document.querySelector("form")

    formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

    formObj.submit();

  },false)

</script>