<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/shop/item_detail.css">
</head>


<body>
<section class="item___main">
  <header>
    <img src="/assets/shop/header.svg" alt="">
  </header>
  <section class="category___icon">
    <ul class="icon_list">
      <li class="icon_item"><img src="/assets/shop/category_icon_all.svg" class="icon_item_img"></li>
      <li class="icon_item"><img src="/assets/shop/category_icon_dog.svg" class="icon_item_img"></li>
      <li class="icon_item"><img src="/assets/shop/category_icon_cat.svg" class="icon_item_img"></li>
    </ul>
  </section>
  <section class="item_detail_form">
    <div class="item_content">
      <div class="item_img itemImage"><img th:src="@{/assets/shop/__${item.itemImage}__.svg}" alt="Shop Image">
      </div>
      <div class="item_text">
        <ul class="item_text_list">
          <li class="item_brand" th:text="${item.brand}">벨칸도</li>
          <li class="item_name itemName" th:text="${item.itemName}"></li>
          <li class="sale_text">20% <span class="item_price itemPrice" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')} +'원'">4,900원</span></li>
          <li class="item_sale_price" th:text="${#numbers.formatInteger(item.price*0.8, 0, 'COMMA')} + '원'">3,920원</li>
          <li class="text"><img src="/assets/shop/point_token.svg" alt="" class="point_token_img" >포인트 적립</li>
          <div class="detail">
            <li class="text">배송</li>
            <li class="text">택배배송</li>
            <li class="text">제조사</li>
            <li class="text"  th:text="${item.brand}">벨칸도</li>
            <li class="text">용량</li>
            <li class="text">100g</li>
          </div>

        </ul>

        <div class="item_option">
          <span>선택상품</span>
          <span class="itemName" th:text="${item.itemName}">벨칸도 마스터크래프트 토핑 100g 오리, 연어, 칠면조</span>
          <div class="item_cnt_option">
            <span class="minus">-</span>
            <span class="cnt">1</span>
            <span class="plus">+</span>
          </div>
          <span class="itemPrice" th:text="${#numbers.formatInteger(item.price*0.8, 0, 'COMMA')} + '원'">3,920원</span>
        </div>


        <div class="item_total_price">
          <span>총 주문금액</span>
          <span class="total_price">3,920원</span>
        </div>

        <!-- 좋아요, 장바구니, 공유 버튼 -->
        <div class="item_action_icon">
          <img src="/assets/shop/heart.svg" alt="">
          <img src="/assets/shop/cart.svg" alt="">
          <img src="/assets/shop/share.svg" alt="">

          <!-- 구매하기 버튼 -->
          <button class="btn_item_buy">구매하기</button>
        </div>
      </div>
    </div>

    <!-- 광고 배너 -->
    <section class="banner">
      <img src="/assets/shop/give_banner.svg" alt="">
    </section>

    <section class="item_info_tap">
      <button class="tap_btn"><span>상품설명</span></button>
      <button class="tap_btn"><span>구매후기</span></button>
      <button class="tap_btn"><span>상품문의</span></button>
    </section>

    <!-- 상품 상세설명 이미지  -->
    <section class="item_info">
      <img src="/assets/shop/belcando_info.svg" alt="">
    </section>

  </section>

</section>
<footer>
  <section class="footer_content">
    <ul class="footer_text">
      <li class="logo_text">FETMILY</li>
      <li class="footer_tap"><span>&nbsp; |&nbsp; 개인정보처리방침 &nbsp;| &nbsp;이용약관</span></li>

    </ul>
    <div class="footer_tap">
      <span>(주)펫밀리 | 대표자: 정용안 | 사업자번호: 000-11-001100 사업자 정보 확인</span>
      <span>통신판매업: 2023-서울강남B-1111 | 개인정보보호책임자: 정용안 | 이메일: info@fetmily.com</span>
      <span>전화번호: 070-0000-1111 | 주소: 서울 강남구 강남대로94길 20, 삼오빌딩 5층</span>
      <span>©FETMILY. ALL RIGHTS RESERVED</span>
    </div>

  </section>


</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
  let itemId = [[${item.itemId}]]
  let price = [[${item.price}]]*0.8
  let cnt = document.querySelector('.cnt')
  let total_price = document.querySelector('.total_price')

  document.querySelector('.plus').addEventListener('click', () => {
    cnt.textContent = Number.parseInt(cnt.textContent) + 1;
    total_price.textContent = price*Number.parseInt(cnt.textContent)
  })

  document.querySelector('.minus').addEventListener('click', () => {
    if(Number.parseInt(cnt.textContent) < 2 ){
      return;
    }
    cnt.textContent = Number.parseInt(cnt.textContent) - 1;
    total_price.textContent = price*Number.parseInt(cnt.textContent)
  })


  document.querySelector('.btn_item_buy').addEventListener('click', () => {
    axios.post('/cart/insert', {
      itemId: itemId,
      cnt: Number.parseInt(cnt.textContent),
      status: 0,
      cartPrice: price*Number.parseInt(cnt.textContent)

    }).then((result) => {
      if(result.data === 1){
        window.location.href='/cart/cart';
      }
    }).catch(() => {
      alert('잠시후 다시 시도해주세요.');
    })
  })
</script>

</body>

</html>