<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header/header.css">
</head>
<body>
<header>
    <!-- 로고 -->
    <h1><img src="/assets/header/FETMILYIcon.svg" alt="웹 페이지 로고" id="logo"></h1>

    <!-- 섹션의 목차 -->
    <nav class="center">
        <ul>
            <li><a href="#">펫플레이스</a></li>
            <li><a href="#">커뮤니티</a></li>
            <li><a href="#">쇼핑</a></li>
            <li><a href="#">공고</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
    </nav>
    <nav class="right">
        <ul>
            <li><a href="#"><img src="/assets/header/shoppingIcon.svg"></a></li>
            <li><a href="#"><img src="/assets/header/myPageIcon.svg"></a></li>
        </ul>
    </nav>
</header>

</body>
</html>