.main-left-image{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -99;
}
.main-right-image{
    position: absolute;
    bottom: 100px;
    right: 0;
    z-index: -99;
}
.main-left-dog{
    position: absolute;
    bottom: -200px;
    left: 0;
    z-index: -99;
}
.main-right-dog{
    position: absolute;
    bottom: -200px;
    right: 0;
    z-index: -99;
}

.banner-cont{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    position: relative;
    width: 100%;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 0px;

    width: 100%;
    height: 300px;

    flex-shrink: 0;

    transition: left 0.15s;
}
.slide-button{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    top: calc(50% - 16px);

    width: 32px;
    height: 32px;

    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
}

.slide-prev-button{
    left: 10px;
}

.slide-next-button{
    right: 10px;
}

.banner1{
    background: url("../../assets/main/petfood.jpg");
    background-size: 100% 100%;

}
.banner2{
    background-image: url(../../assets/main/petfood2.jpg);
    background-size: 100% 100%;
}
.banner3{
    background-image: url(../../assets/main/petnutrients.jpg);
    background-size: 100% 100%;
}
.banner4{
    background-image: url(../../assets/main/dogbanner.jpg);
    background-size: 100% 100%;
}
.banner5{
    background-image: url(../../assets/main/petbanner.jpg);
    background-size: 100% 100%;
}
.banner6{
    background-image: url(../../assets/main/petshop.jpg);
    background-size: 100% 100%;
}

.slide-pagination,
.slide-pagination > li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slide-pagination{
    display: flex;
    gap: 5px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slide-pagination > li{
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}
.slide-pagination > li.active{
    color: #7fb5ff;

}

.menu-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 1440px;
    margin: 10px auto;
}
.menu{
    position: relative;
    margin: 20px;
    text-align: center;
    width: 519px;
    height: 329px;
    box-sizing: border-box;
    background: linear-gradient(262.34deg, rgba(255, 231, 239, 0.5) 0.66%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 219, 232, 0) 99.34%);
    box-shadow: inset 0px 10px 50px rgba(255, 255, 255, 0.5), inset 0px 4px 150px rgba(255, 0, 107, 0.2), inset -5px -5px 20px rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-20px 20px 150px rgba(156, 1, 47, 0.15));
    backdrop-filter: blur(15px);
    border-radius: 890px;
    overflow: hidden;
}
.menu-img{
    position: absolute;
    top: 100%;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}
.menu-text{
    position: relative;
    z-index: 1;
    margin-top: 100px;
}
.menu1:hover .menu1-img,
.menu2:hover .menu2-img,
.menu3:hover .menu3-img,
.menu4:hover .menu4-img{
    opacity: 1;
    cursor: pointer;
    transform: translateY(-100%);
}

.text{
    font-size: xx-large;
    background: linear-gradient(90.19deg, #00A3FF -25.96%, #FFBEFC 99.94%), linear-gradient(90deg, #61E000 -2.47%, #2CF6F9 100.15%);
    text-shadow: 4px 4px 10px rgba(167, 165, 165, 0.25);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.menu-text{
    margin-top: 100px;
}

/* footer 구현 */
* {
    box-sizing: border-box;
    font-family: "pretendard", sans-serif;
    line-height: 1;
;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

li {
    list-style: none;
}

button {
    border: none;
}

footer {
    height: 260px;
    background: linear-gradient(76.83deg, rgba(18, 166, 255, 0.1) 37.62%, rgba(255, 2, 108, 0.1) 164.89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_text {
    background: linear-gradient(90deg, #07A4FF 0%, #F9BEFD 100%), #1A1A1A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;


}

.footer_text>* {


    display: inline-block;
}

/* .footer_text li+li::before {


    display: inline-block;
    content: "|";
    color: #bdbdbd;
    margin: 0 8px;
    font-size: 20px;
    font-weight: 100;
} */
.footer_tap>* {
    display: inline-block;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #07A4FF 0%, #F9BEFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


}

.footer_content {
    width: 800px;
    /* padding: 40px; */
}

.footer_text {
    margin-bottom: 10px;
}