* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

li {
    list-style-type: none;

}

#homelessDetail-ul{
    display: grid;
    place-items: center;
}

/* 상세 정보 구현 */

.info-detail-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 2px solid #d7d7d7;
    margin: 15px;
    background-image: linear-gradient(90deg, rgba(0, 151, 240, 0.25), rgba(0, 87, 138, 0.25));
    width: 1389px;
    height: 874px;
    border-radius: 890px;
    overflow: hidden;
}

.info-detail-image{
    float: left;
    margin: auto 20px;
    width: 541px;
    height: 511px;
    border-radius: 20px;

}
.info-detail-content{
    float: right;
    width: 600px;
    font-size: 25px;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 291px;
    height: 69px;
    border-radius: 890px;
    background-image: linear-gradient(90deg, rgba(0, 151, 240, 0.25), rgba(0, 87, 138, 0.25));
}


.post-title {
    font-size: 20px;
}

.post-number {
    font-size: 15px;
    padding: 15px;
}


/* 배경 이미지 구현 */
#homelessLeftImage{
    position: absolute;
    bottom: -400px;
    left: 0;
    z-index: -99;
}

#homelessRigthImage{
    position: absolute;
    bottom: -400px;
    right: 0;
    z-index: -99;
}
