/*마이페이지 공통 css*/

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body{
  display: flex;
}

.header{
  font-size: 26px;
  font-weight: bold;
  padding: 50px 0;
  width: 1160px;
}

.nav{
  margin-right: 100px;
}

.nav_title{
  font-weight: 700;
  border-bottom: 1px solid lightgray;
  width: 80%;
  padding: 10px 0;
  margin: 10px 0;
}

.nav > ul{
  list-style-type: none;
  margin-left:20px;
  padding: 10px 0;
}

.nav > ul > li{
  padding: 5px 0;
  margin-left: 10px;
}

.nav > ul > li:hover{
  cursor: pointer;
}

.content{
  display: flex;
  flex-direction: column;
  margin: 46px 0;
  font-weight: bold;
  width: 900px;
}

.content_title{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.content_title > a{
  float: right;
}

.content_body{
  padding-bottom: 50px;
}

/*회원 기본정보 페이지 css*/
.elem{
  width: 100%;
  margin: 10px;
}

.elem_title{
  display: inline-block;
  width: 150px;
}


/*쇼핑 페이지 css*/

.delivery > *{
  padding: 10px;
  box-shadow: 1px 1px 2px #999 inset;
  border: none;
  margin: 5px 1px;
  border-radius: 4px;
}

.delivery > .btn{
  box-shadow: 1px 1px 2px #999;
}

.delivery > * :focus{
  outline-style: none;
}

/*반려동물 등록 페이지 css*/

.pet_regist_form{
  display: flex;
  flex-direction: column;
}

.label{
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

.pet_regist_form > input[type=text]{
  margin-bottom: 20px;
  height: 36px;
  font-size: 18px;
  text-indent: 10px;
  margin-top: 5px;
}

.pet_regist_form > input[type=date]{
  height: 24px;
  border-radius: 50px;
  text-indent: 10px;
  margin-bottom: 20px;
}

.pet_regist_form > input[type=checkbox]{
  margin-bottom: 20px;
}

.pet_regist_form > textarea{
  margin-top: 5px;
}

/*반려동물 정보 리스트 페이지 css*/

.pet_list{
  height: 600px;
  overflow-y: scroll;
}

.pet_list>* {
  margin: 20px 10px;
}

.pet_info{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  height: 250px;
  width: 500px;
  padding: 10px;
}

.img_info{
  display: flex;
}

.img{
  width: 200px;
  height: 200px;
  background-size: cover;
}

.info{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.info > * {
  margin-bottom: 15px;
}

.pet_id{
  display: none;
}

.pet_name{
  font-size: 24px;
}

.sex_neut > *{
  margin: 0 30px;
}

.btn_set{
  display: flex;
  justify-content: flex-end;
}

.btn_set > * {
  margin: 0 10px;
}

.card-img-top{
  width: 200px;
  height: 200px;
  background-size: cover;
}