<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/calendar/calendar.css">
</head>
<body style="padding:30px;">
<div class="eventModal">
  <div class="eventModal_body">
    <div class="modal_header">
      <button class="close_btn">x</button>
    </div>
    <div class="eventModal_content">
      <div class="info_row">
        <label class="label">색상</label>
        <label class="label">내용</label>
        <label class="label">시작일</label>
        <label class="label">종료일</label>
        <label class="label">주기</label>
      </div>
      <form id="addEventForm" class="input_row">
        <input type="color" id="colorPicker" name="eventColor" required>
        <input type="text" id="content" name="content" required placeholder="내용">
        <input type="datetime-local" id="startDate" name="startDate" required placeholder="시작일">
        <input type="datetime-local" id="endDate" name="endDate" required placeholder="종료일">
        <input type="number" id="cycle" name="cycle" placeholder="주기">
        <button type="submit" class="submit_btn">등록</button>
      </form>
    </div>
  </div>
</div>
<div class="memoModal">
  <div class="modal_body">
    <div class="modal_header">
      <button class="close_btn">x</button>
    </div>
    <form id="addMemoForm" class="memo_input_row">
      <div class="memoDateInfo">
        <span id="memoDate_span" class="memoDate_span"></span>
        <button type="submit" class="memo_input_button">등록</button>
      </div>
      <div>
        <label for="memoContent"></label>
        <input type="text" id="memoContent" name="memoContent" required placeholder="메모 내용을 입력하세요."><br><br>
        <input type="text" id="memoDate" name="memoDate" style="display: none;">
      </div>
    </form>
    <div style="display: flex; flex-direction: column; flex: 1;">
      <div class="grid-container">
        <div>
          <div class="memo_info_row flex-item" style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;">
            <label class="label">오늘의 메모</label>
          </div>
          <div class="today_memo"></div>
        </div>
        <div>
          <div class="memo_event_info_row flex-item" style="border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;">
            <label class="label">오늘의 이벤트</label>
          </div>
          <div class="today_event"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='calendar-container'>
  <div id='calendar'></div>
</div>
<script src="/js/calendar/calendar.js"></script>
</body>
</html>
