<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mypage/mypage.css">
    <title>Title</title>
</head>
<body layout:fragment="content">
<div class="container">
    <div class="header">마이페이지</div>
    <div class="body">
        <div class="nav">
            <ul>
                <div class="nav_title">내 정보</div>
                <a href="/mypage/member/info"><li>내 정보</li></a>
                <a href="/mypage/member/update"><li>내 정보 수정</li></a>
                <a href="/mypage/member/delete"><li>회원 탈퇴</li></a>
            </ul>
            <ul>
                <div class="nav_title">쇼핑</div>
                <a href="/mypage/buy/list"><li>주문내역</li></a>
                <a href="/mypage/buy/addr"><li>배송지 관리</li></a>
                <a href="/mypage/buy/like"><li>좋아요 누른 상품</li></a>
                <a href="/mypage/buy/service"><li>고객센터</li></a>
            </ul>
            <ul>
                <div class="nav_title">커뮤니티</div>
                <a href="/mypage/post/mypost"><li>내가 쓴 게시글</li></a>
                <a href="/mypage/post/myreview"><li>댓글 단 게시글</li></a>
                <a href="/mypage/post/like"><li>좋아요 누른 게시글</li></a>
            </ul>
            <ul>
                <div class="nav_title">동물</div>
                <a href="/pet/list"><li>내 반려동물</li></a>
                <a href="/pet/support"><li>후원중인 동물</li></a>
            </ul>
        </div>
        <div class="content">
            <span class="content_title">내 반려동물<a href="/pet/list">뒤로가기</a></span>
            <div class="content_body">
                <div class="pet_regist_form">
                    <span class="label">반려동물 이름</span>
                    <input type="text" name="" class="pet_name" th:value="${petDTO.petName}">
                    <span class="label">반려동물 종</span>
                    <input type="text" name="" class="pet_type" th:value="${petDTO.petType}">
                    <span class="label">생년월일</span>
                    <input type="date" name="" class="pet_birth" th:value="${petDTO.birth}">
                    <span class="label">몸무게</span>
                    <span><input type="text" class="pet_weight" style="text-align: right;" th:value="${petDTO.weight}">&nbsp;kg</span>
                    <span class="label">성별</span>
                    <div><input type="checkbox" class="m">남<input type="checkbox" class="w">여</div>
                    <span class="label">중성화 유무</span>
                    <div><input type="checkbox" class="t">O<input type="checkbox" class="f">X</div>
                    <span class="label">특이사항</span>
                    <textarea name="" class="pet_etc" cols="30" rows="10">[[${petDTO.etc}]]</textarea>
                    <button class="pet_regist_btn">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/member/pet.js"></script>
<script th:inline="javascript">
    let petDTO = [[${petDTO}]];

    if(petDTO.sex === '남'){
        document.querySelector('.m').checked = true;
    }else{
        document.querySelector('.w').checked = true;
    }

    if(petDTO.neut === 'O'){
        document.querySelector('.t').checked = true;
    }else{
        document.querySelector('.f').checked = true;
    }

    document.querySelector('.m').addEventListener('click', (e) => {
        if (e.target.checked) {
            document.querySelector('.w').checked = false;
        }
    });

    document.querySelector('.w').addEventListener('click', (e) => {
        if (e.target.checked) {
            document.querySelector('.m').checked = false;
        }
    });

    document.querySelector('.t').addEventListener('click', (e) => {
        if (e.target.checked) {
            document.querySelector('.f').checked = false;
        }
    });

    document.querySelector('.f').addEventListener('click', (e) => {
        if (e.target.checked) {
            document.querySelector('.t').checked = false;
        }
    });

    document.querySelector('.pet_regist_btn').addEventListener('click', () => {
        petUpdate(petDTO.petId);
    })
</script>
</body>

</html>