<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #map {
            width: 100%;
            height: calc(100vh - 109px);
            margin-top: 48px;
        }
        .search-btns {
            position: absolute;
            top: 58px;
            right: 20px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .search-btns button {
            width: 110px;
            padding: 15px;
            background-color: #007BFF; /* primary color */
            border-radius: 10px;
            font-size: 1.2em;
            color: #FFFFFF; /* white color */
        }
        .search-btns button:hover {
            background-color: #FFC107; /* warning color */
        }
    </style>
</head>
<body>
<!-- Kakao Map 컨테이너 -->
<div id="map"></div>
<!-- 검색 버튼 컨테이너-->
<div class="search-btns">
    <!--    <button type="button" onclick="searchPlaces('애견카페')">애견카페 :커피:️</button>-->
    <!--    <button type="button" onclick="searchPlaces('동물병원')">동물병원 :의료_종사자:</button>-->
    <!--    <button type="button" onclick="searchPlaces('애견호텔')">애견호텔 :호텔:</button>-->
    <button id="cafeBtn" type="button">애견카페 ☕️</button>
    <button id="hospitalBtn" type="button">동물병원 🧑‍⚕️</button>
    <button id="hotelBtn" type="button">애견호텔 🏨</button>
</div>
<!-- kakao 지도 API 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fa50bac5a61c8b7be8bba979347a108c&libraries=services"></script>
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>-->
<!--<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=fa50bac5a61c8b7be8bba979347a108c"></script>-->
<!-- Kakao Map 관련 스크립트 -->
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        // var mapContainer = document.getElementById('map');
        // var options = { //지도를 생성할 때 필요한 기본 옵션
        //     center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표
        //     level: 3 //지도의 레벨(확대, 축소 정도)
        // };
        // var map = new kakao.maps.Map(mapContainer, options); //지도 생성 및 객체 리턴
        // 버튼 클릭 이벤트 추가

        document.getElementById('cafeBtn').addEventListener('click', function() {

            ps.keywordSearch("애견카페", placesSearchCB);
        });
        document.getElementById('hospitalBtn').addEventListener('click', function() {

            ps.keywordSearch("동물병원", placesSearchCB);
        });
        document.getElementById('hotelBtn').addEventListener('click', function() {

            ps.keywordSearch("애견호텔", placesSearchCB);
        });
        // 현재 위치 가져오기
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    var userLatLng = new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(userLatLng);
                    var markerImageSrc = 'https://cdn-icons-png.flaticon.com/128/7124/7124723.png';
                    var markerSize = new kakao.maps.Size(50, 50);
                    var markerImage = new kakao.maps.MarkerImage(markerImageSrc, markerSize);
                    var markerPosition = new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var marker = new kakao.maps.Marker({
                        position: markerPosition,
                        image: markerImage
                    });
                    marker.setMap(map);
                },
                function (error) {
                    console.error(error.message);
                }
            );
        } else {
            console.error('Geolocation is not supported.');
        }
        // 검색된 장소 표시하기
    })
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();
    // 키워드로 장소를 검색합니다
    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        var userLatLng = new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        map.setCenter(userLatLng);
                        var markerImageSrc = 'https://cdn-icons-png.flaticon.com/128/7124/7124723.png';
                        var markerSize = new kakao.maps.Size(50, 50);
                        var markerImage = new kakao.maps.MarkerImage(markerImageSrc, markerSize);
                        var markerPosition = new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        var marker = new kakao.maps.Marker({
                            position: markerPosition,
                            image: markerImage
                        });
                        marker.setMap(map);
                    },
                    function (error) {
                        console.error(error.message);
                    }
                );
            } else {
                console.error('Geolocation is not supported.');
            }
            map = new kakao.maps.Map(mapContainer, mapOption);
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();
            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }
    }
    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {
        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x)
        });
        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
</script>
</body>
</html>